/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212 !important;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
